* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f4ddbd;
}

header {
    margin: 0;
    height: 76px;
    background-color: #f1cdab;
    margin-bottom: 3px;
}

nav {
    padding-bottom: 50px;
}

.main_text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin-top: 0;
    padding-top: 26px;
    text-align: center;
    margin-left: 0;
}

.navigation {
    margin: 0;
    padding: 4px;
    text-align: center;
}

.li-navigation {
    display: inline;
    color: black;
    padding-right: 6px;
    font-size: 18px;
}

.link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.chart_1 {
    font-size: 32px;
}

.main_section {
    padding-left: 50px;
    margin-right: 25%;
    margin-bottom: 100px;
}

.p_main {
    font-size: 24px;
}

.li-main {
    font-size: 22px;
}

.row {
    display: inline;
}

.column {
    padding-left: 100px;
    margin: 0;
}


.column img {
    margin-top: 8px;
    vertical-align: middle;
    height: 100%;
    width: 15%;
    padding-left: 50px;
}

.style_men {
    padding-left: 50px;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 25%;
}

.footer {
    background-color: #f1cdab;
    margin: 60px 0 0 0;
    height: 200px;
    text-align: center;
}

.h1_foot {
    font-size: 22px;
}

.li-foot {
    font-size: 18px;
}

.button {
    padding: 15px 25px;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #f8997b;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.button:hover {
    background-color: #e56848
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}